body {
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
  color: #ffd900;
  text-shadow: -1px 2px 4px #000000;
  background-image: url(https://i.imgur.com/Mjjbvdv.png);
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}


#choices-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

label, input {
  display: inline;
  margin: 10px auto;
}

#name, #start-button {
  display: block;
  margin: 10px auto;
  width: 200px;
}


button {
  background-color: #ffd900;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d4ac0d;
}

#play-again-button {
  display: none; /* Initially hidden */
  margin: 20px auto;
}

#play-again-button:hover {
  background-color: #d4ac0d;
}

#story-container {
  display: none;
  background: rgba(148, 214, 110, 0.85);
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}